.pageWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.control {
    background-color: #404144;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100vw;
}

.control * {
    font-size: 12px;
}

.controlSection {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0px 10px;
}

.navigation {
    background-color: #303134;
    position: relative;
    display: flex;
    width: 100vw;
    height: 30px;
}

.content {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.button {
    vertical-align: middle;
    text-align: center;
    padding: 2px 8px;
    margin: 2px;
    line-height: 30px;
    background-color: darkblue;
}

.button:hover {
    background-color: blue;
    cursor: pointer;
}

.button:active {
    background-color: lightblue;
    cursor: pointer;
}

.controlSection > .title {
    padding: 2px;
    font-style: italic;
    text-align: left;
}